CONTRACT_OUTPUT_LOCATION=${CONTRACT_OUTPUT_DIR}/${MODULE_NAME}/server

GENERATOR_CONFIG_FILE_LOCATION=../${CONTRACT_INPUT_DIR}/common/spring-boot.yaml
GENERATOR_CONFIG_INPUT_FILE_LOCATION=${MODULE_CONTRACT_LOCATION}/${SERVER_GENERATOR_TYPE}.yaml
GENERATOR_CONFIG_OUTPUT_FILE_LOCATION=${WORKING_DIR}/${MODULE_NAME}-${SERVER_GENERATOR_TYPE}.yaml
TEMP_GENERATOR_CONFIG_OUTPUT_FILE_LOCATION=${WORKING_DIR}/${MODULE_NAME}-${SERVER_GENERATOR_TYPE}-temp.yaml

SERVER_BASE_PACKAGE=com.ashimjk.contract
API_PACKAGE=${SERVER_BASE_PACKAGE}.api
MODEL_PACKAGE=${SERVER_BASE_PACKAGE}.model
INVOKER_PACKAGE=${API_PACKAGE}.invoker
