CONTRACT_OUTPUT_LOCATION=${CONTRACT_OUTPUT_DIR}/${MODULE_NAME}/server-client

GENERATOR_CONFIG_FILE_LOCATION=../${CONTRACT_INPUT_DIR}/common/java.yaml
GENERATOR_CONFIG_INPUT_FILE_LOCATION=${MODULE_CONTRACT_LOCATION}/${SERVER_CLIENT_GENERATOR_TYPE}.yaml
GENERATOR_CONFIG_OUTPUT_FILE_LOCATION=${WORKING_DIR}/${MODULE_NAME}-${SERVER_CLIENT_GENERATOR_TYPE}.yaml
TEMP_GENERATOR_CONFIG_OUTPUT_FILE_LOCATION=${WORKING_DIR}/${MODULE_NAME}-${SERVER_CLIENT_GENERATOR_TYPE}-temp.yaml
